@font-face {
  font-family: "MontserratArm";
  src: url("../public/fonts/Montserratarm-Regular.otf") format("opentype");
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.slick-slider {
  width: 100%;
}

p, span, h3, h2, h1 {
  text-transform: none;
}